In [ ]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.29)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=043ef66d52a305b0487eb561a7ebde5933ee9e0f03b3309138fd209b009d2e89
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import pandas as pd
from pandasql import sqldf
from pandasql import load_births # this will generate default data

Load Dataset

In [ ]:
births = load_births()
print(births)

          date  births
0   1975-01-01  265775
1   1975-02-01  241045
2   1975-03-01  268849
3   1975-04-01  247455
4   1975-05-01  254545
..         ...     ...
403 2012-08-01  359554
404 2012-09-01  361922
405 2012-10-01  347625
406 2012-11-01  320195
407 2012-12-01  340995

[408 rows x 2 columns]

SQL in python

In [ ]:
cmd = "SELECT * FROM births WHERE births > 300000 LIMIT 5"
print(sqldf(cmd,locals()))

                         date  births
0  1979-08-01 00:00:00.000000  302805
1  1982-07-01 00:00:00.000000  321836
2  1982-08-01 00:00:00.000000  323129
3  1982-09-01 00:00:00.000000  320536
4  1982-10-01 00:00:00.000000  311312

SQLITE3

In [ ]:
import sqlite3

load dataset

In [ ]:
conn = sqlite3.connect('dataset.db')
print(conn)

<sqlite3.Connection object at 0x7b69a4432640>

In [20]:
#data = pd.read_('dataset.db')
comm= "SELECT * FROM dataset.db"
print(sqldf(comm,locals()))

PandaSQLException: (sqlite3.OperationalError) no such table: dataset.db
[SQL: SELECT * FROM dataset.db]
(Background on this error at: https://sqlalche.me/e/20/e3q8)